@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700;900&display=swap');


:root {
    --color-primary: #ffb42a;
    --color-secondary: #fff3db;
}

h1{
    font-size: 36px;
    font-weight: 700;
}
h3{
    font-size: 14px;
    font-weight: 500;
}
span{
    font-size: 14px;
}

p{
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 28px;
    }
    p{
        font-size: 13px;
    }
}